.mmt__item {
  color: #fff;
  max-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #3d5c5b54;
  border: 2.5px solid rgba(104, 254, 255, 0.29);
  /* border-image-source: linear-gradient(
    144.12deg,
    rgba(104, 254, 255, 0.29) 7.5%,
    rgba(14, 83, 77, 0) 131.13%
  ); */
  border-radius: 9.46px;
}

.mmt__item:nth-child(1) {
  position: absolute;
  right: 40%;
  top: 5%;
}

.mmt__item:nth-child(2) {
  position: absolute;
  left: 12%;
  bottom: 30%;
}

.mmt__item:nth-child(3) {
  position: absolute;
  right: 15%;
  bottom: 15%;
}

.mmt__item > h2 {
  margin-bottom: 11.71px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20.88px;
  line-height: 100%;
  letter-spacing: 0%;
}

.mmt__item > p {
  margin-bottom: 19.29px;
  font-family: "Poppins";
  font-weight: 400;
  font-style: Regular;
  font-size: 10.44px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 173.1px;
}

.mmt__item > img {
  width: 135px;
  /* object-fit: cover; */
}

@media screen and (min-width: 320px) {
  .mmt__item {
    padding: 15px 30px 24px;
  }
}

@media screen and (min-width: 768px) {
  .mmt__item {
    padding: 15px 30px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .mmt__item {
    padding: 21px 52px 48px;
  }
}
