nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 45px 140px 45px 150px;
}

.nav__links_outer {
  backdrop-filter: blur(5px);
  background: #ffffff1a;
  padding: 21px 54px;
  border-radius: 19px;
}

.nav__links_inner {
  display: flex;
  gap: 20px;
}

.nav__links_inner > a {
  text-decoration: none;
  color: #ffffff;
}

nav > button {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 30px;
  padding: 14px 25px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13.47px;
  line-height: 100%;
  letter-spacing: 0%;
}
